<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Perform.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3B2D63411D86EFBC000BCA84</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B2D63551D86EFBC000BCA84</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B2D63601D86EFBC000BCA84</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
